.about {
  position: relative;
  padding-bottom: 15%;
  padding-top: 5%;
}

.about__container {
  display: flex;
  height: 100%;
}

.about__content {
  display: flex;
  justify-content: center;
  padding: 0 15%;
}

.about__user,
.about__description {
  display: flex;
  flex-direction: column;
}

.about__user {
  width: 47%;
  padding: 0 5%;
}

.about__description {
  flex: 1;
}
