.header {
  display: flex;
  justify-content: center;
  align-content: center;
}

.header__menu,
.header__links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__menu {
  flex: 1;
}
