.hero {
  height: 100vh;
  padding: 2.5% 0 4% 0;
}

.hero__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__content {
  display: flex;
  padding: 0 20%;
  flex: 1;
  justify-content: center;
  align-items: center;
}
