.nav-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-main__list {
  display: flex;
}

.nav-main__item {
  margin-right: 60px;

  &:last-child {
    margin-right: 0;
  }
}

.nav-main__link {
  &:hover {
    text-decoration: underline;
  }
}
