.skill {
  position: relative;
  width: 166px;
  height: 166px;
  margin-left: 4%;
}

.skill__text {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 18px;
  color: rgba($text-color, .5);
  padding: 14px;
}