.user-info {
  position: relative;
  display: flex;
}

.user-info__desc {
  display: flex;
  padding-right: 8%;
  align-items: flex-end;
  flex-direction: column;

  p {
    white-space: nowrap;
  }
}

.user-info__title {
  font-size: 72px;
  font-weight: 800;
  line-height: 1;
}

