section.fullscreen-section.hero
  .container.hero__container
    include ../components/header
    .hero__content
      include ../components/user-info
    .hero__down-button
      include ../components/scroll-down