.reviews
  .container.reviews__container
    .section-title.reviews__title Что обо мне говорят
    .reviews__content
      .reviews-slider
        .reviews-slider__buttons
          a(href="#").reviews-slider__btn.reviews-slider__btn_prev
          a(href="#").reviews-slider__btn.reviews-slider__btn_next
        ul.reviews-slider__list
          -
            var items = [
              {
                'url': 'content/user.jpg',
                'name': 'Ковальчук Дмитрий',
                'description': 'Основатель Loftschool',
                'text': 'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!'
              },
              {
                'url': 'content/user.jpg',
                'name': 'Владимир Сабанцев',
                'description': 'Преподаватель',
                'text': 'Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах'
              }
            ]
          each item in items
            li.reviews-slider__item
              .section-text.reviews-slider__item-text
                p= item.text
              .reviews-slider__user
                .reviews-slider__avatar
                  +image(`${item.url}`, 'reviews-slider__img')
                .reviews-slider__desc
                  .reviews-slider__desc-name= item.name
                  .section-text= item.description
              