footer.footer
  .container.footer__container
    .footer__about
      .footer__year © 2019
      .footer__about-user
        include ./user-info
    .footer__content
      include ./nav-main
      .footer__description
        .footer__content-left
          .section-text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
          .footer__socials
            include ./socials
        .footer__content-right 
          .section-text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
          .footer__copyright Martin Golding