ul.skills
  -
    const skills = [
      {
        "skillsType": "Front-end",
        "skills": {
          "HTML5": 25,
          "CSS3": 15,
          "Javascript": 75,
          "Jquery и Vue.js": 40
        }
      },
      {
        "skillsType": "Workflow",
        "skills": {
          "GIT": 30,
          "Terminal": 60,
          "Gulp": 30,
          "Webpack": 70
        }
      },
      {
        "skillsType": "Backend",
        "skills": {
          "Node.js": 25,
          "PHP": 15,
          "Pyton": 75,
          "Wordpress": 40
        }
      }
    ]
  each item in skills
    li.skills__row
      h3.skills__title= item.skillsType
      ul.skills__list
        each key, prop in item.skills
          - var percent = (251/100)*(100-key)
          include ./skill
          +skill(percent, prop)