.user-description
  .user-description__main
    .section-text Привет, меня зовут
    h2.section-title.user-description__title Владимир Астаханов
    .section-text.user-description__text
      p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
  .section-text.user-description__footer
    p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!