.works-slider
  .works-slider__display
    .works-slider__content
      .works-slider__pic
        +image('content/works/1.jpg', 'works-slider__img')
      .works-slider__buttons
        a(href="#").works-slider__btn.works-slider__btn_next.active
        a(href="#").works-slider__btn.works-slider__btn_prev 
      - var n = 1
      ul.works-slider__previews
        while n < 4
          li.works-slider__previews-item
            a(href="#").works-slider__previews-link
              +image(`content/works/${n++}.jpg`, 'works-slider__previews-img')
  .works-slider__desc
    ul.works-slider__tags
      - var tags = ['HTML', 'CSS', 'Javascript']
        each tag in tags
          li.works-slider__tag-item= tag
    .works-slider__title Сайт школы образования
    .works-slider__text
      p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
    a(href="#").works-slider__link Посмотреть сайт